
@{
    ViewBag.Title = "AdminOnly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>For Admin users only!</h2>

<div id="divUserListContainer">
    @Html.Action("ManageUserPartial", "Home");
</div>

<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/all.css" rel="stylesheet" />
